.text-black {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: thin;
    font-style: oblique;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}