.navbar {

    .navbar-nav {

        .nav-item {

            .nav-link {

                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                text-transform: uppercase;
                color: black;

                &:hover{

                    border-bottom: solid;
                    border-color: black;
                }
            }
        }
    }
}